nav{
    position: fixed;
    top:0;
    height: 80px;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #00a087;
    color:#e8fdff;
    float: left;
    z-index:1;
}
#nav-bar .logo{
  width: 80px;
  height: 80px;
  float:left;

}
#nav-bar .header{
  float: left;
  height: 80px;
  padding-left: 10px;
  line-height: 2.5;
  font-size: 2em;
}

#nav-bar .compose{
  float: right;
  margin-top: 2em;
}
